.html,body{
    height: 100%;
    width: 100%;
}
.left img {
width: 135px;
height: 27px;
padding-right:40px ;
align-items: center;
margin-left: 30px;
}
.container{
    max-width: 80vw;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
